<%- include("../includes/navigation.ejs") -%>
<main>
   <% if(errorMessage) { %>
     <div><h5 id="error-message" class="center-align"><%= errorMessage %></h5></div>
    <% } %>
    <form action="/new-password" method="post">
           <div class="input-field col s6">
            <input id="password" type="password" name="password" class="validate">
            <label for="imageUrl">Password</label>
           </div>
           <input type="hidden" name="userId" value="<%= userId %>">
           <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
           <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn waves-effect waves-light" type="submit">Update Password
            <i class="material-icons right">add_box</i>
          </button>
    </form>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<%- include ("../includes/end.ejs") -%>