<%- include ("head.ejs") -%>

<body>
    <header>
        
      <nav>
        <div class="nav-wrapper">
          <ul class="right">
              <% if (!isAuthenticated) { %>
              <li><a href="/login" class="<%= path === '/login' ? 'active-s' : '' %> right">Login</a></li>
              <li><a href="/signup" class="<%= path === '/signup' ? 'active-s' : '' %> right">Sign Up</a></li>
              <% } %>
              <% if (isAuthenticated) { %>
              <li><a class="right"><form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="header-item" type="submit">Logout</button>
                </form></a></li>
              <% } %>
          </ul>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="<%= path === '/index' ? 'active-s' : '' %>" href="/">Shop</a></li>
            <li><a class="<%= path === '/product-list' ? 'active-s' : '' %>" href="/product-list">Products</a></li>
            <% if (isAuthenticated) { %>
            <li><a class="<%= path === '/cart' ? 'active-s' : '' %>" href="/cart">Cart</a></li>
            <li><a class="<%= path === '/orders' ? 'active-s' : '' %>" href="/orders">Orders</a></li>
            <li><a class="<%= path === '/admin/products' ? 'active-s' : '' %>" href="/admin/products">Admin Products</a></li>
            <li><a class="<%= path === '/admin/add-product' ? 'active-s' : '' %>" href="/admin/add-product">Add Product</a></li>
            <% } %>
          </ul>
        </div>
      </nav>
        
        
    </header>